@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");

:root {
  --color-primary: #1f3e72;
  --color-secondary: #6d7b93;
  --custom-white: #ffffff;
}

html {
  scroll-behavior: smooth !important;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: var(--custom-white);
}

.my-nav {
  height: 7rem;
  line-height: 7rem;
  background-color: var(--custom-white);
}

.my-nav ul a {
  color: var(--color-secondary);
  font-size: 1rem;
  font-weight: 700;
}

.my-nav a {
  color: var(--color-secondary);
  font-weight: 700;
  font-size: 1rem;
}

.sidenav ul a {
  color: var(--color-secondary);
}

.brand-logo {
  color: #3757d5 !important;
  font-weight: 700;
  font-size: 2rem !important;
}

.main-btn {
  background-color: #3757d5;
  color: var(--custom-white) !important;
  text-transform: capitalize !important;
}

.main-btn:hover {
  background-color: #506bd6;
}

.container-fluid {
  width: 100% !important;
  max-width: initial !important;
}
.container-fluid > .row {
  margin: 0 !important;
}
.container-fluid > .row > .col.right-col {
  padding: 0 !important;
}

.main-left-column {
  padding-left: 14rem !important;
  padding-right: 9rem !important;
  padding-top: 6.5rem !important;
}

.title {
  color: var(--color-primary);
  font-weight: 700;
  font-size: 3rem;
}

.main-text {
  color: var(--color-secondary);
  font-size: 1rem;
  font-weight: 600;
  padding-bottom: 1rem;
}

.icon-text {
  color: var(--color-primary);
  font-weight: 600;
  font-size: 0.9rem;
}

.main-icon {
  color: #ffd012;
  background-color: #fff8dd;
  padding: 0.2rem;
}

.main-subtitle-row {
  padding-top: 10rem;
}

.clock-icon {
  color: #3757d5;
  background-color: #c0ccfc;
  padding: 0.4rem;
}

.icon-main-text {
  color: var(--color-primary);
  font-weight: 700;
  font-size: 1.2rem;
  padding-left: 0.4rem;
}

.form-row {
  z-index: 99;
  width: 53rem !important;
  position: relative;
  background-color: var(--custom-white);
  height: 9rem;
  padding-top: 2rem;
}

.icon-text-form {
  color: var(--color-secondary);
  font-weight: 500;
  font-size: 1rem;
  margin-left: 0.4rem;
}

.text-form-2 {
  color: var(--color-primary);
  font-weight: 700;
  font-size: 1rem;
}

.text-form-1 {
  color: var(--color-primary);
  font-weight: 700;
  font-size: 1rem;
  padding-left: 4rem;
}

.text-form-3 {
  color: var(--color-primary);
  font-weight: 700;
  font-size: 1rem;
  padding-left: 5.45rem;
}

.main-btn-form {
  background-color: #3757d5;
  color: var(--custom-white) !important;
  text-transform: capitalize !important;
  font-weight: 700;
}

.main-btn-form:hover {
  background-color: #506bd6;
}

.logos-container {
  padding: 3rem 0;
  width: 80%;
}

.why-container {
  padding: 1rem 0;
  width: 80%;
}

.why-card {
  background-color: var(--custom-white);
  height: 20rem !important;
}

.card-icon {
  color: #3757d5;
  background-color: #c0ccfc;
  padding: 0.4rem;
  margin-bottom: 1.2rem;
}

.card-title {
  color: var(--color-primary) !important;
  font-weight: 600 !important;
  font-size: 1.3rem !important;
  margin-bottom: 1.2rem !important;
}

.my-card-content {
  color: var(--color-secondary);
  font-weight: 500;
  font-size: 0.8rem;
  margin-bottom: 2.2rem !important;
}

.why-title {
  color: var(--color-primary);
  font-size: 2.4rem;
  font-weight: 700;
}

.why-text {
  color: var(--color-secondary);
  font-size: 1rem;
  font-weight: 500;
  margin: 2.4rem 0;
}

.why-section {
  margin-bottom: 6rem;
}

.row-prep {
  height: 5.5rem;
}

.collap-div {
  display: flex;
  justify-content: space-between;
  border: 0.1rem solid #e5eaf3;
}

.arrow-icon {
  color: #3757d5;
  background-color: #c0ccfc;
}

.collap-header {
  color: var(--color-primary);
  font-size: 1.2rem;
  font-weight: 600;
}

.collap-text {
  color: var(--color-secondary);
  font-size: 0.9rem;
  font-weight: 500;
  margin: 2.4rem 0;
  margin-left: 2.4rem;
}

.collap-container {
  margin-bottom: 2rem;
}

.collapsible {
  border: none !important;
}

.collapsible-body {
  border-bottom: none !important;
  box-shadow: 0rem 0rem 1rem 0rem #e5eaf3;
}

.row-con {
  height: 20rem;
}

.container-fluid > .row > .col.right-col > .row {
  padding: 0 !important;
  margin: 0 !important;
}

.col-contact {
  padding-top: 10rem !important;
}

.contact-text {
  color: var(--color-secondary);
  font-size: 1rem;
  font-weight: 500;
  margin: 2.4rem 0 10rem 0;
}

.upper-contact-row {
  margin-bottom: 3.5rem;
}

.con-card {
  background-color: var(--custom-white);
  height: 15rem !important;
  border: none !important;
  box-shadow: 0rem 0rem 1rem 0rem #e5eaf3;
  padding: auto;
}

.upper-content {
  display: flex;
  justify-content: left;
  margin-bottom: 1.5rem;
}

.contact-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 3rem !important;
}

.con-card-title {
  color: var(--color-primary);
  font-size: 1.4rem;
  font-weight: 600;
  margin-left: 1rem !important;
}

.con-card-subtitle {
  color: var(--color-secondary);
  font-size: 0.8rem;
  font-weight: 600;
  margin-left: 1rem !important;
}

.card-btn {
  background-color: #c0ccfc;
  color: #3757d5 !important;
  text-transform: capitalize !important;
  font-weight: 700 !important;
}

.card-btn:hover {
  background-color: #d8dff8;
}
